## Learn-To-Rank (LightGBM; Pointwise ranking)

In [2]:

import pandas as pd

anime_info_df = pd.read_csv('anime_info.csv')
relavence_scores = pd.read_csv('relavence_scores.csv')
user_info = pd.read_csv('user_info.csv')

Show columns and clean data

In [3]:
anime_info_df.head()

,anime_id,Genres,is_tv,year_aired,is_adult,above_five_star_users,above_five_star_ratings,above_five_star_ratio
0,1,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",1,1998.0,1,4012.0,4012.0,0.594018
1,5,"Action, Drama, Mystery, Sci-Fi, Space",0,2001.0,1,NaN,NaN,NaN
2,6,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen",1,1998.0,0,NaN,NaN,NaN
3,7,"Action, Mystery, Police, Supernatural, Drama, ...",1,2002.0,0,NaN,NaN,NaN
4,8,"Adventure, Fantasy, Shounen, Supernatural",1,2004.0,0,76.0,76.0,0.481013

In [4]:
anime_info_df.isnull().sum()

anime_id                       0
Genres                        54
is_tv                          0
year_aired                   123
is_adult                       0
above_five_star_users      11012
above_five_star_ratings    11012
above_five_star_ratio      11012
dtype: int64

In [5]:
#Drop Genres nulls since treat as important features
anime_info_df.dropna(subset=['Genres'],inplace=True)

#Fill numeric columns nulls with avg
anime_info_df[['year_aired','above_five_star_users','above_five_star_ratings','above_five_star_ratio']]= anime_info_df[['year_aired','above_five_star_users','above_five_star_ratings','above_five_star_ratio']].fillna(anime_info_df[['year_aired','above_five_star_users','above_five_star_ratings','above_five_star_ratio']].mean())

In [6]:
user_info.head()

,user_id,review_count,avg_score,score_stddev,above_five_star_count,above_five_star_ratio
0,3,357,6.801120,2.475089,318.0,0.890756
1,6,545,4.089908,3.731472,285.0,0.522936
2,8,165,0.866667,2.448328,NaN,NaN
3,13,65,3.338462,4.191796,NaN,NaN
4,14,146,4.965753,3.844233,89.0,0.609589

In [7]:
user_info.isnull().sum()

user_id                     0
review_count                0
avg_score                   0
score_stddev              140
above_five_star_count    6532
above_five_star_ratio    6532
dtype: int64

In [8]:
#Fill numeric columns nulls with avg
user_info[['score_stddev','above_five_star_count','above_five_star_ratio']]=user_info[['score_stddev','above_five_star_count','above_five_star_ratio']].fillna(user_info[['score_stddev','above_five_star_count','above_five_star_ratio']].mean())

In [9]:
relavence_scores.head()

   anime_id          Name  user_id  relavence_score
0         1  Cowboy Bebop        3         1.000000
1         1  Cowboy Bebop        6         1.000000
2         1  Cowboy Bebop        8         0.230769
3         1  Cowboy Bebop       13         0.000000
4         1  Cowboy Bebop       14         0.500000

In [10]:
relavence_scores.isnull().sum()

anime_id           0
Name               0
user_id            0
relavence_score    0
dtype: int64

Merging above 3 datasets to get overall info of user_id (query),anime_id (document), relavance_score, and other features.

In [11]:
anime_info_df.Genres.unique()

array(['Action, Adventure, Comedy, Drama, Sci-Fi, Space',
       'Action, Drama, Mystery, Sci-Fi, Space',
       'Action, Sci-Fi, Adventure, Comedy, Drama, Shounen', ...,
       'Sci-Fi, Music, Mecha',
       'Mystery, Psychological, Supernatural, Thriller, Shounen',
       'Martial Arts, Fantasy'], dtype=object)


Choose popular genres as new features.

In [12]:
from sklearn.preprocessing import MultiLabelBinarizer

import matplotlib.pyplot as plt

anime_info_df['Genres'] = anime_info_df['Genres'].apply(lambda x:",".join(s.strip() for s in x.split(",")))

# use MultiLabelBinarizer to create a one-hot encoded dataframe of the genres
mlb = MultiLabelBinarizer()
genre_df = pd.DataFrame(mlb.fit_transform(anime_info_df['Genres'].str.split(',')),
                        columns=mlb.classes_,
                        index=anime_info_df.index)

#Choose popular/at interest genres as new features
feature_genres = ['Comedy',
 'Action',
 'Fantasy',
 'Adventure',
 'Kids',
 'Drama',
 'Sci-Fi',
 'Music',
 'Shounen',
 'Slice of Life',
 'Supernatural']

#pair genres with anime id
feature_genres_info=pd.concat([anime_info_df['anime_id'],genre_df[feature_genres]],axis=1)

#merge with anime_info_df
anime_info_df_final = anime_info_df.merge(feature_genres_info,on='anime_id')

#rename feature columns for better reference
anime_info_df_final.columns = [col if col=='anime_id' else f"ANIME_FEATURE {col}".upper() for col in anime_info_df_final.columns]
user_info.columns = [col if col=='user_id' else f"USER_FEATURE {col}".upper() for col in user_info.columns]

In [120]:
#merge all data to get the train data
traindf=pd.merge(pd.merge(relavence_scores,user_info, on='user_id'),anime_info_df_final,on='anime_id')
traindf.head()

,anime_id,Name,user_id,relavence_score,USER_FEATURE REVIEW_COUNT,USER_FEATURE AVG_SCORE,USER_FEATURE SCORE_STDDEV,USER_FEATURE ABOVE_FIVE_STAR_COUNT,USER_FEATURE ABOVE_FIVE_STAR_RATIO,ANIME_FEATURE GENRES,...,ANIME_FEATURE ACTION,ANIME_FEATURE FANTASY,ANIME_FEATURE ADVENTURE,ANIME_FEATURE KIDS,ANIME_FEATURE DRAMA,ANIME_FEATURE SCI-FI,ANIME_FEATURE MUSIC,ANIME_FEATURE SHOUNEN,ANIME_FEATURE SLICE OF LIFE,ANIME_FEATURE SUPERNATURAL
0,1,Cowboy Bebop,3,1.000000,357,6.801120,2.475089,318.000000,0.890756,"Action,Adventure,Comedy,Drama,Sci-Fi,Space",...,1,0,1,0,1,1,0,0,0,0
1,1,Cowboy Bebop,6,1.000000,545,4.089908,3.731472,285.000000,0.522936,"Action,Adventure,Comedy,Drama,Sci-Fi,Space",...,1,0,1,0,1,1,0,0,0,0
2,1,Cowboy Bebop,8,0.230769,165,0.866667,2.448328,209.291276,0.708196,"Action,Adventure,Comedy,Drama,Sci-Fi,Space",...,1,0,1,0,1,1,0,0,0,0
3,1,Cowboy Bebop,13,0.000000,65,3.338462,4.191796,209.291276,0.708196,"Action,Adventure,Comedy,Drama,Sci-Fi,Space",...,1,0,1,0,1,1,0,0,0,0
4,1,Cowboy Bebop,14,0.500000,146,4.965753,3.844233,89.000000,0.609589,"Action,Adventure,Comedy,Drama,Sci-Fi,Space",...,1,0,1,0,1,1,0,0,0,0

In [121]:
traindf.columns

Index(['anime_id', 'Name', 'user_id', 'relavence_score',
       'USER_FEATURE REVIEW_COUNT', 'USER_FEATURE AVG_SCORE',
       'USER_FEATURE SCORE_STDDEV', 'USER_FEATURE ABOVE_FIVE_STAR_COUNT',
       'USER_FEATURE ABOVE_FIVE_STAR_RATIO', 'ANIME_FEATURE GENRES',
       'ANIME_FEATURE IS_TV', 'ANIME_FEATURE YEAR_AIRED',
       'ANIME_FEATURE IS_ADULT', 'ANIME_FEATURE ABOVE_FIVE_STAR_USERS',
       'ANIME_FEATURE ABOVE_FIVE_STAR_RATINGS',
       'ANIME_FEATURE ABOVE_FIVE_STAR_RATIO', 'ANIME_FEATURE COMEDY',
       'ANIME_FEATURE ACTION', 'ANIME_FEATURE FANTASY',
       'ANIME_FEATURE ADVENTURE', 'ANIME_FEATURE KIDS', 'ANIME_FEATURE DRAMA',
       'ANIME_FEATURE SCI-FI', 'ANIME_FEATURE MUSIC', 'ANIME_FEATURE SHOUNEN',
       'ANIME_FEATURE SLICE OF LIFE', 'ANIME_FEATURE SUPERNATURAL'],
      dtype='object')

In [122]:
#sort by query                                     
traindf.sort_values(by='user_id',inplace=True)
traindf.set_index("user_id",inplace=True)

#target is relavence_score, with USER_FEATURE columns and ANMIE_FEATURE columns as input.
Target=traindf.relavence_score
Feature=traindf.drop(['anime_id','Name','relavence_score','ANIME_FEATURE GENRES'],axis=1)

test_size = 200000
X,y = Feature,Target.apply(lambda x:int(x * 10))
test_idx_start = len(X)-test_size

xtrain,xtest,ytrain,ytest = X.iloc[0:test_idx_start],X.iloc[test_idx_start:],y.iloc[0:test_idx_start],y.iloc[test_idx_start:]

In [125]:
get_group_size = lambda df: df.reset_index().groupby('user_id')['user_id'].count()

train_groups = get_group_size(xtrain)
test_groups = get_group_size(xtest)

print("Training data voulme is {a}, and test data volume is {b}.".format(a=sum(train_groups),b=sum(test_groups)))

Training data voulme is 4678575, and test data volume is 200000.

In [126]:
import lightgbm as lgb

Model training result, measured by Ndcg.

In [127]:
model = lgb.LGBMRanker(objective="lambdarank")
model.fit(xtrain,ytrain,group=train_groups,eval_set=[(xtest,ytest)],eval_group=[test_groups],eval_metric=['ndcg'])

[1]	valid_0's ndcg@1: 0.842823	valid_0's ndcg@2: 0.842346	valid_0's ndcg@3: 0.845918	valid_0's ndcg@4: 0.848058	valid_0's ndcg@5: 0.844909
[2]	valid_0's ndcg@1: 0.866985	valid_0's ndcg@2: 0.872058	valid_0's ndcg@3: 0.870681	valid_0's ndcg@4: 0.865368	valid_0's ndcg@5: 0.862506
[3]	valid_0's ndcg@1: 0.870255	valid_0's ndcg@2: 0.876163	valid_0's ndcg@3: 0.874679	valid_0's ndcg@4: 0.867872	valid_0's ndcg@5: 0.867904
[4]	valid_0's ndcg@1: 0.875124	valid_0's ndcg@2: 0.874138	valid_0's ndcg@3: 0.874981	valid_0's ndcg@4: 0.872077	valid_0's ndcg@5: 0.87034
[5]	valid_0's ndcg@1: 0.868645	valid_0's ndcg@2: 0.875891	valid_0's ndcg@3: 0.873527	valid_0's ndcg@4: 0.871839	valid_0's ndcg@5: 0.871638
[6]	valid_0's ndcg@1: 0.875138	valid_0's ndcg@2: 0.879263	valid_0's ndcg@3: 0.877626	valid_0's ndcg@4: 0.874971	valid_0's ndcg@5: 0.873141
[7]	valid_0's ndcg@1: 0.878385	valid_0's ndcg@2: 0.880622	valid_0's ndcg@3: 0.876679	valid_0's ndcg@4: 0.875651	valid_0's ndcg@5: 0.872656
[8]	valid_0's ndcg@1: 0.883255	valid_0's ndcg@2: 0.881724	valid_0's ndcg@3: 0.877523	valid_0's ndcg@4: 0.877442	valid_0's ndcg@5: 0.87294
[9]	valid_0's ndcg@1: 0.881681	valid_0's ndcg@2: 0.882015	valid_0's ndcg@3: 0.878496	valid_0's ndcg@4: 0.877164	valid_0's ndcg@5: 0.872802
[10]	valid_0's ndcg@1: 0.889774	valid_0's ndcg@2: 0.88573	valid_0's ndcg@3: 0.881334	valid_0's ndcg@4: 0.879153	valid_0's ndcg@5: 0.876162
[11]	valid_0's ndcg@1: 0.883304	valid_0's ndcg@2: 0.883638	valid_0's ndcg@3: 0.880494	valid_0's ndcg@4: 0.879069	valid_0's ndcg@5: 0.875184
[12]	valid_0's ndcg@1: 0.883257	valid_0's ndcg@2: 0.884255	valid_0's ndcg@3: 0.87945	valid_0's ndcg@4: 0.879072	valid_0's ndcg@5: 0.875646
[13]	valid_0's ndcg@1: 0.884856	valid_0's ndcg@2: 0.881377	valid_0's ndcg@3: 0.879724	valid_0's ndcg@4: 0.878585	valid_0's ndcg@5: 0.877529
[14]	valid_0's ndcg@1: 0.886479	valid_0's ndcg@2: 0.882482	valid_0's ndcg@3: 0.881169	valid_0's ndcg@4: 0.87908	valid_0's ndcg@5: 0.878392
[15]	valid_0's ndcg@1: 0.883306	valid_0's ndcg@2: 0.882383	valid_0's ndcg@3: 0.879194	valid_0's ndcg@4: 0.879893	valid_0's ndcg@5: 0.879761
[16]	valid_0's ndcg@1: 0.888125	valid_0's ndcg@2: 0.885357	valid_0's ndcg@3: 0.879562	valid_0's ndcg@4: 0.881813	valid_0's ndcg@5: 0.880748
[17]	valid_0's ndcg@1: 0.884878	valid_0's ndcg@2: 0.883445	valid_0's ndcg@3: 0.879944	valid_0's ndcg@4: 0.882138	valid_0's ndcg@5: 0.880186
[18]	valid_0's ndcg@1: 0.886502	valid_0's ndcg@2: 0.883812	valid_0's ndcg@3: 0.880606	valid_0's ndcg@4: 0.882962	valid_0's ndcg@5: 0.879571
[19]	valid_0's ndcg@1: 0.886453	valid_0's ndcg@2: 0.885684	valid_0's ndcg@3: 0.880921	valid_0's ndcg@4: 0.883	valid_0's ndcg@5: 0.880648
[20]	valid_0's ndcg@1: 0.891323	valid_0's ndcg@2: 0.889298	valid_0's ndcg@3: 0.882651	valid_0's ndcg@4: 0.883552	valid_0's ndcg@5: 0.882612
[21]	valid_0's ndcg@1: 0.889701	valid_0's ndcg@2: 0.888227	valid_0's ndcg@3: 0.882975	valid_0's ndcg@4: 0.883306	valid_0's ndcg@5: 0.883463
[22]	valid_0's ndcg@1: 0.888077	valid_0's ndcg@2: 0.887565	valid_0's ndcg@3: 0.882266	valid_0's ndcg@4: 0.883186	valid_0's ndcg@5: 0.882832
[23]	valid_0's ndcg@1: 0.888077	valid_0's ndcg@2: 0.885683	valid_0's ndcg@3: 0.881233	valid_0's ndcg@4: 0.882382	valid_0's ndcg@5: 0.882485
[24]	valid_0's ndcg@1: 0.888077	valid_0's ndcg@2: 0.885683	valid_0's ndcg@3: 0.882376	valid_0's ndcg@4: 0.88306	valid_0's ndcg@5: 0.882747
[25]	valid_0's ndcg@1: 0.888077	valid_0's ndcg@2: 0.885683	valid_0's ndcg@3: 0.883138	valid_0's ndcg@4: 0.883683	valid_0's ndcg@5: 0.882764
[26]	valid_0's ndcg@1: 0.891373	valid_0's ndcg@2: 0.889654	valid_0's ndcg@3: 0.885537	valid_0's ndcg@4: 0.885218	valid_0's ndcg@5: 0.884817
[27]	valid_0's ndcg@1: 0.896244	valid_0's ndcg@2: 0.890423	valid_0's ndcg@3: 0.886708	valid_0's ndcg@4: 0.886466	valid_0's ndcg@5: 0.885475
[28]	valid_0's ndcg@1: 0.894625	valid_0's ndcg@2: 0.889429	valid_0's ndcg@3: 0.886339	valid_0's ndcg@4: 0.886219	valid_0's ndcg@5: 0.884968
[29]	valid_0's ndcg@1: 0.896248	valid_0's ndcg@2: 0.890424	valid_0's ndcg@3: 0.88785	valid_0's ndcg@4: 0.886931	valid_0's ndcg@5: 0.884612
[30]	valid_0's ndcg@1: 0.896244	valid_0's ndcg@2: 0.889795	valid_0's ndcg@3: 0.887761	valid_0's ndcg@4: 0.887385	valid_0's ndcg@5: 0.884798
[31]	valid_0's ndcg@1: 0.892997	valid_0's ndcg@2: 0.890314	valid_0's ndcg@3: 0.888159	valid_0's ndcg@4: 0.887453	valid_0's ndcg@5: 0.884903
[32]	valid_0's ndcg@1: 0.89462	valid_0's ndcg@2: 0.893822	valid_0's ndcg@3: 0.889034	valid_0's ndcg@4: 0.887651	valid_0's ndcg@5: 0.885199
[33]	valid_0's ndcg@1: 0.892997	valid_0's ndcg@2: 0.891727	valid_0's ndcg@3: 0.888097	valid_0's ndcg@4: 0.887699	valid_0's ndcg@5: 0.884601
[34]	valid_0's ndcg@1: 0.892997	valid_0's ndcg@2: 0.89157	valid_0's ndcg@3: 0.88931	valid_0's ndcg@4: 0.887831	valid_0's ndcg@5: 0.884601
[35]	valid_0's ndcg@1: 0.892997	valid_0's ndcg@2: 0.89049	valid_0's ndcg@3: 0.889508	valid_0's ndcg@4: 0.887239	valid_0's ndcg@5: 0.884636
[36]	valid_0's ndcg@1: 0.89462	valid_0's ndcg@2: 0.892741	valid_0's ndcg@3: 0.890088	valid_0's ndcg@4: 0.887443	valid_0's ndcg@5: 0.88503
[37]	valid_0's ndcg@1: 0.892995	valid_0's ndcg@2: 0.894239	valid_0's ndcg@3: 0.891629	valid_0's ndcg@4: 0.88845	valid_0's ndcg@5: 0.885693
[38]	valid_0's ndcg@1: 0.8934	valid_0's ndcg@2: 0.896842	valid_0's ndcg@3: 0.893241	valid_0's ndcg@4: 0.889253	valid_0's ndcg@5: 0.886371
[39]	valid_0's ndcg@1: 0.896647	valid_0's ndcg@2: 0.898204	valid_0's ndcg@3: 0.895415	valid_0's ndcg@4: 0.890541	valid_0's ndcg@5: 0.887277
[40]	valid_0's ndcg@1: 0.89827	valid_0's ndcg@2: 0.898572	valid_0's ndcg@3: 0.895338	valid_0's ndcg@4: 0.891263	valid_0's ndcg@5: 0.887478
[41]	valid_0's ndcg@1: 0.899893	valid_0's ndcg@2: 0.898315	valid_0's ndcg@3: 0.895902	valid_0's ndcg@4: 0.892261	valid_0's ndcg@5: 0.888784
[42]	valid_0's ndcg@1: 0.901523	valid_0's ndcg@2: 0.899469	valid_0's ndcg@3: 0.896678	valid_0's ndcg@4: 0.892411	valid_0's ndcg@5: 0.888682
[43]	valid_0's ndcg@1: 0.903145	valid_0's ndcg@2: 0.899836	valid_0's ndcg@3: 0.896578	valid_0's ndcg@4: 0.892601	valid_0's ndcg@5: 0.888849
[44]	valid_0's ndcg@1: 0.899947	valid_0's ndcg@2: 0.90084	valid_0's ndcg@3: 0.896679	valid_0's ndcg@4: 0.892959	valid_0's ndcg@5: 0.88852
[45]	valid_0's ndcg@1: 0.901571	valid_0's ndcg@2: 0.900107	valid_0's ndcg@3: 0.896405	valid_0's ndcg@4: 0.892722	valid_0's ndcg@5: 0.889173
[46]	valid_0's ndcg@1: 0.899947	valid_0's ndcg@2: 0.902091	valid_0's ndcg@3: 0.896497	valid_0's ndcg@4: 0.892798	valid_0's ndcg@5: 0.889241
[47]	valid_0's ndcg@1: 0.896702	valid_0's ndcg@2: 0.901357	valid_0's ndcg@3: 0.895935	valid_0's ndcg@4: 0.892058	valid_0's ndcg@5: 0.888172
[48]	valid_0's ndcg@1: 0.896702	valid_0's ndcg@2: 0.901985	valid_0's ndcg@3: 0.897177	valid_0's ndcg@4: 0.892801	valid_0's ndcg@5: 0.888831
[49]	valid_0's ndcg@1: 0.901571	valid_0's ndcg@2: 0.903715	valid_0's ndcg@3: 0.898501	valid_0's ndcg@4: 0.893631	valid_0's ndcg@5: 0.890183
[50]	valid_0's ndcg@1: 0.901548	valid_0's ndcg@2: 0.903866	valid_0's ndcg@3: 0.898141	valid_0's ndcg@4: 0.892731	valid_0's ndcg@5: 0.890079
[51]	valid_0's ndcg@1: 0.90033	valid_0's ndcg@2: 0.90359	valid_0's ndcg@3: 0.89793	valid_0's ndcg@4: 0.891737	valid_0's ndcg@5: 0.889854
[52]	valid_0's ndcg@1: 0.90033	valid_0's ndcg@2: 0.90359	valid_0's ndcg@3: 0.89793	valid_0's ndcg@4: 0.891462	valid_0's ndcg@5: 0.890036
[53]	valid_0's ndcg@1: 0.898706	valid_0's ndcg@2: 0.903223	valid_0's ndcg@3: 0.897268	valid_0's ndcg@4: 0.89173	valid_0's ndcg@5: 0.890056
[54]	valid_0's ndcg@1: 0.898695	valid_0's ndcg@2: 0.903849	valid_0's ndcg@3: 0.898116	valid_0's ndcg@4: 0.891361	valid_0's ndcg@5: 0.890385
[55]	valid_0's ndcg@1: 0.897073	valid_0's ndcg@2: 0.902226	valid_0's ndcg@3: 0.897686	valid_0's ndcg@4: 0.892231	valid_0's ndcg@5: 0.889543
[56]	valid_0's ndcg@1: 0.896669	valid_0's ndcg@2: 0.900251	valid_0's ndcg@3: 0.896555	valid_0's ndcg@4: 0.891836	valid_0's ndcg@5: 0.888774
[57]	valid_0's ndcg@1: 0.899916	valid_0's ndcg@2: 0.902241	valid_0's ndcg@3: 0.897278	valid_0's ndcg@4: 0.893641	valid_0's ndcg@5: 0.889592
[58]	valid_0's ndcg@1: 0.898292	valid_0's ndcg@2: 0.901835	valid_0's ndcg@3: 0.897753	valid_0's ndcg@4: 0.892953	valid_0's ndcg@5: 0.889839
[59]	valid_0's ndcg@1: 0.898292	valid_0's ndcg@2: 0.902463	valid_0's ndcg@3: 0.897091	valid_0's ndcg@4: 0.893221	valid_0's ndcg@5: 0.889857
[60]	valid_0's ndcg@1: 0.898292	valid_0's ndcg@2: 0.902463	valid_0's ndcg@3: 0.897471	valid_0's ndcg@4: 0.89381	valid_0's ndcg@5: 0.89037
[61]	valid_0's ndcg@1: 0.896669	valid_0's ndcg@2: 0.901468	valid_0's ndcg@3: 0.897088	valid_0's ndcg@4: 0.893766	valid_0's ndcg@5: 0.890329
[62]	valid_0's ndcg@1: 0.903112	valid_0's ndcg@2: 0.903534	valid_0's ndcg@3: 0.8983	valid_0's ndcg@4: 0.894775	valid_0's ndcg@5: 0.891206
[63]	valid_0's ndcg@1: 0.904735	valid_0's ndcg@2: 0.903274	valid_0's ndcg@3: 0.898101	valid_0's ndcg@4: 0.894874	valid_0's ndcg@5: 0.891299
[64]	valid_0's ndcg@1: 0.904735	valid_0's ndcg@2: 0.903274	valid_0's ndcg@3: 0.898089	valid_0's ndcg@4: 0.894616	valid_0's ndcg@5: 0.891289
[65]	valid_0's ndcg@1: 0.903112	valid_0's ndcg@2: 0.9042	valid_0's ndcg@3: 0.898406	valid_0's ndcg@4: 0.894718	valid_0's ndcg@5: 0.891396
[66]	valid_0's ndcg@1: 0.903112	valid_0's ndcg@2: 0.9042	valid_0's ndcg@3: 0.898026	valid_0's ndcg@4: 0.894674	valid_0's ndcg@5: 0.891569
[67]	valid_0's ndcg@1: 0.903112	valid_0's ndcg@2: 0.903573	valid_0's ndcg@3: 0.897926	valid_0's ndcg@4: 0.894599	valid_0's ndcg@5: 0.8915
[68]	valid_0's ndcg@1: 0.903112	valid_0's ndcg@2: 0.903573	valid_0's ndcg@3: 0.898307	valid_0's ndcg@4: 0.894643	valid_0's ndcg@5: 0.891964
[69]	valid_0's ndcg@1: 0.903112	valid_0's ndcg@2: 0.903573	valid_0's ndcg@3: 0.899247	valid_0's ndcg@4: 0.895033	valid_0's ndcg@5: 0.892097
[70]	valid_0's ndcg@1: 0.907982	valid_0's ndcg@2: 0.903418	valid_0's ndcg@3: 0.89913	valid_0's ndcg@4: 0.894936	valid_0's ndcg@5: 0.891796
[71]	valid_0's ndcg@1: 0.906358	valid_0's ndcg@2: 0.903042	valid_0's ndcg@3: 0.898847	valid_0's ndcg@4: 0.894415	valid_0's ndcg@5: 0.891327
[72]	valid_0's ndcg@1: 0.906358	valid_0's ndcg@2: 0.903042	valid_0's ndcg@3: 0.898848	valid_0's ndcg@4: 0.894415	valid_0's ndcg@5: 0.891331
[73]	valid_0's ndcg@1: 0.906358	valid_0's ndcg@2: 0.902414	valid_0's ndcg@3: 0.899129	valid_0's ndcg@4: 0.894649	valid_0's ndcg@5: 0.891227
[74]	valid_0's ndcg@1: 0.906358	valid_0's ndcg@2: 0.902336	valid_0's ndcg@3: 0.898545	valid_0's ndcg@4: 0.894573	valid_0's ndcg@5: 0.890947
[75]	valid_0's ndcg@1: 0.907982	valid_0's ndcg@2: 0.901449	valid_0's ndcg@3: 0.899766	valid_0's ndcg@4: 0.895039	valid_0's ndcg@5: 0.890931
[76]	valid_0's ndcg@1: 0.907982	valid_0's ndcg@2: 0.902077	valid_0's ndcg@3: 0.899865	valid_0's ndcg@4: 0.895394	valid_0's ndcg@5: 0.891027
[77]	valid_0's ndcg@1: 0.907982	valid_0's ndcg@2: 0.901449	valid_0's ndcg@3: 0.899766	valid_0's ndcg@4: 0.895039	valid_0's ndcg@5: 0.891144
[78]	valid_0's ndcg@1: 0.907982	valid_0's ndcg@2: 0.901449	valid_0's ndcg@3: 0.899766	valid_0's ndcg@4: 0.895039	valid_0's ndcg@5: 0.891144
[79]	valid_0's ndcg@1: 0.907982	valid_0's ndcg@2: 0.901449	valid_0's ndcg@3: 0.899766	valid_0's ndcg@4: 0.895039	valid_0's ndcg@5: 0.891144
[80]	valid_0's ndcg@1: 0.909605	valid_0's ndcg@2: 0.902444	valid_0's ndcg@3: 0.900146	valid_0's ndcg@4: 0.895355	valid_0's ndcg@5: 0.891419
[81]	valid_0's ndcg@1: 0.907982	valid_0's ndcg@2: 0.902077	valid_0's ndcg@3: 0.899485	valid_0's ndcg@4: 0.89535	valid_0's ndcg@5: 0.890989
[82]	valid_0's ndcg@1: 0.909605	valid_0's ndcg@2: 0.902444	valid_0's ndcg@3: 0.898647	valid_0's ndcg@4: 0.895745	valid_0's ndcg@5: 0.891318
[83]	valid_0's ndcg@1: 0.909605	valid_0's ndcg@2: 0.902444	valid_0's ndcg@3: 0.899028	valid_0's ndcg@4: 0.895789	valid_0's ndcg@5: 0.891566
[84]	valid_0's ndcg@1: 0.909605	valid_0's ndcg@2: 0.902916	valid_0's ndcg@3: 0.899484	valid_0's ndcg@4: 0.895895	valid_0's ndcg@5: 0.891659
[85]	valid_0's ndcg@1: 0.909605	valid_0's ndcg@2: 0.902916	valid_0's ndcg@3: 0.899484	valid_0's ndcg@4: 0.895895	valid_0's ndcg@5: 0.891659
[86]	valid_0's ndcg@1: 0.909605	valid_0's ndcg@2: 0.902916	valid_0's ndcg@3: 0.899103	valid_0's ndcg@4: 0.895851	valid_0's ndcg@5: 0.892256
[87]	valid_0's ndcg@1: 0.909605	valid_0's ndcg@2: 0.902916	valid_0's ndcg@3: 0.899103	valid_0's ndcg@4: 0.896124	valid_0's ndcg@5: 0.892281
[88]	valid_0's ndcg@1: 0.909605	valid_0's ndcg@2: 0.902916	valid_0's ndcg@3: 0.899103	valid_0's ndcg@4: 0.89638	valid_0's ndcg@5: 0.892303
[89]	valid_0's ndcg@1: 0.911228	valid_0's ndcg@2: 0.903283	valid_0's ndcg@3: 0.899384	valid_0's ndcg@4: 0.896614	valid_0's ndcg@5: 0.892506
[90]	valid_0's ndcg@1: 0.911228	valid_0's ndcg@2: 0.903283	valid_0's ndcg@3: 0.899384	valid_0's ndcg@4: 0.896614	valid_0's ndcg@5: 0.892506
[91]	valid_0's ndcg@1: 0.909605	valid_0's ndcg@2: 0.902916	valid_0's ndcg@3: 0.899103	valid_0's ndcg@4: 0.896653	valid_0's ndcg@5: 0.892327
[92]	valid_0's ndcg@1: 0.909605	valid_0's ndcg@2: 0.902916	valid_0's ndcg@3: 0.898722	valid_0's ndcg@4: 0.896336	valid_0's ndcg@5: 0.892478
[93]	valid_0's ndcg@1: 0.909605	valid_0's ndcg@2: 0.902916	valid_0's ndcg@3: 0.899864	valid_0's ndcg@4: 0.896468	valid_0's ndcg@5: 0.892805
[94]	valid_0's ndcg@1: 0.907982	valid_0's ndcg@2: 0.90192	valid_0's ndcg@3: 0.899483	valid_0's ndcg@4: 0.896151	valid_0's ndcg@5: 0.892317
[95]	valid_0's ndcg@1: 0.907982	valid_0's ndcg@2: 0.90192	valid_0's ndcg@3: 0.899483	valid_0's ndcg@4: 0.895878	valid_0's ndcg@5: 0.892293
[96]	valid_0's ndcg@1: 0.907982	valid_0's ndcg@2: 0.90192	valid_0's ndcg@3: 0.899292	valid_0's ndcg@4: 0.896402	valid_0's ndcg@5: 0.892748
[97]	valid_0's ndcg@1: 0.907982	valid_0's ndcg@2: 0.902548	valid_0's ndcg@3: 0.899011	valid_0's ndcg@4: 0.896168	valid_0's ndcg@5: 0.892545
[98]	valid_0's ndcg@1: 0.907982	valid_0's ndcg@2: 0.902548	valid_0's ndcg@3: 0.899392	valid_0's ndcg@4: 0.896212	valid_0's ndcg@5: 0.89237
[99]	valid_0's ndcg@1: 0.907982	valid_0's ndcg@2: 0.902548	valid_0's ndcg@3: 0.89863	valid_0's ndcg@4: 0.895851	valid_0's ndcg@5: 0.89227
[100]	valid_0's ndcg@1: 0.907982	valid_0's ndcg@2: 0.90192	valid_0's ndcg@3: 0.89815	valid_0's ndcg@4: 0.895451	valid_0's ndcg@5: 0.892348

LGBMRanker(objective='lambdarank')

Predict with ranking model based on "candidate documents (animes)" (animes that users may be not interested in).

In [128]:
#choose user_id=1 for example
#animes that user1 has already liked:
liked_anime=relavence_scores.loc[relavence_scores['user_id']==1]['anime_id'].tolist()

#all animes:
animes_pool = anime_info_df_final['anime_id'].unique().tolist()

#candidate animes
candidates = list(set(animes_pool)-set(liked_anime))

In [129]:
#Merge candidates with features, name as 'anime_id'
df_candidates=pd.DataFrame(data=pd.Series(candidates,name='anime_id'))
    
Feature= anime_info_df_final.merge(df_candidates)
    
Feature['user_id']=1


Feature= Feature.merge(user_info).drop(['anime_id','ANIME_FEATURE GENRES'],axis=1)
Feature.set_index("user_id",inplace=True)
    
#get anime names
predictions=pd.DataFrame(index=candidates)
predictions['anime_id']=pd.Series(candidates)
predictions['anime_name']=df_candidates.merge(relavence_scores)['Name']

In [133]:
    
#predict results
predictions['ranking_score']= model.predict(Feature)
#order by ranking
predictions.sort_values(by='ranking_score',ascending=False)

       anime_id               anime_name  ranking_score
1030     1144.0             Cowboy Bebop       1.448078
19291       NaN                   Naruto       1.434598
4026     5263.0             Cowboy Bebop       1.434598
2201     2422.0             Cowboy Bebop       1.410574
3641     4481.0             Cowboy Bebop       1.324245
...         ...                      ...            ...
10030   29846.0                   Trigun      -1.901910
32         53.0             Cowboy Bebop      -1.936130
31798       NaN  Neon Genesis Evangelion      -1.936130
2236     2459.0             Cowboy Bebop      -1.936130
59         82.0             Cowboy Bebop      -1.936130

[16501 rows x 3 columns]

Above is the prediction result of User_id=1 preferred animes. Test validation data is based on candidates (the animes have not been liked).